#blog-section {
	margin: 60px 0;
	align-content: center;
}

.circles-line img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#blog-section .container {
	position: relative;
}

#blog-section .container p {
	position: absolute;
	border: 2px solid black;
	width: 32%;
	padding: 1rem;
	background: white;
	text-align: center;
}

#blog-section .container  span {
	display: block;
	padding-bottom: 1rem;
	color: #b2b2b4;
	z-index: 2;
}

#blog-section .container .education-1 {
	top: 22%;
	left: 8.5%;

}

#blog-section .container .education-2 {
	right: 8.5%;
	top: 54%;
	
}

#blog-section .container .education-3 {
	left: 8.6%;
	bottom: 3%;
}

#blog-section .container .education-4 {
	display: none;
}

#blog-section .title h1 {
	font-size: 4.5rem;
	margin-bottom: 80px;
	text-transform: uppercase;
	font-weight: 600px;
	text-align: center;
}

#blog-section .blog-container .post {
	position: relative;
	transition: all .4s ease-in-out;
	cursor: pointer;
	height: 100%;
	overflow: hidden;
}

#blog-section .blog-container .post-img {
	width: 100%;
	height: 100%;
	background-position: center center !important;
	background-color: rgba(255, 58, 58, .8) !important;
	background-repeat: no-repeat !important;
	background-color: #f2f3f5 !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

#blog-section .blog-container .post .details {
	background: white;
	padding: 35px;
	position: absolute;
	top: 100%;
	width: 100%;
	transform: translate3d(0, -200px, 0);
	transition: all .4s ease-in-out;
}

#blog-section .blog-container .post .details h4 {
	font-size: 1.1rem;
	color: #13171a;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	margin-bottom: 1.8rem;
}

#blog-section .blog-container .post .details p {
	font-size: 1rem;
	color: #919191;
	font-weight: 400;
	letter-spacing: 2px;
	margin-bottom: 1.8rem;
	line-height: 1.5;
}



#blog-section .blog-container .post  .more {
	position: absolute;
	z-index: 3;
	width: 100%;
	bottom: 0;
	background: white;
	padding: 35px;
}

#blog-section .blog-container .post .more .button {
	font-size: 1.3rem;
	color: #13171a;
	font-weight: 700;
	letter-spacing: 2px;
	line-height: 1.5;
	display: inline-block;
	border-bottom: 2px solid #ff5253;
	text-transform: uppercase;
	padding-bottom: 10px;
	transition: all .4s ease-in-out .2s;
	opacity: 0;
	transform: translate3d(0, 40px, 0);
}

#blog-section .blog-container .post:hover .details {
	transform: translate3d(0, -588px, 0);
}

#blog-section .blog-container .post:hover .more .button {
	opacity: 1;
	color: #ff5253;
	transform: translate3d(0, 0, 0);
}

/* -----for tablet-------- */
@media only screen and (max-width:960px) {
	#blog-section .blog-container {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 588px 588px 588px;
	}
	.circles-line img {
		margin-left: 20%;
	}
	#blog-section .container .education-1 {
		top: 22%;
		left: 40%;
		text-align: left;
	}
	#blog-section .container .education-2 {
		right: 23%;
		top: 54%;
		text-align: left;
	}
	#blog-section .container .education-3 {
		left: 40%;
		bottom: 4%;
		text-align: left;
	}
}

/* -----for phones-------- */
@media only screen and (max-width:768px) {
	#blog-section .title h1 {
		font-size: 3rem;
	}
	#blog-section .container {
		justify-content:center; 
		padding-left: 4rem;
		padding-right: 4rem;
	}
	.circles-line img {
		display: none;
	}
	#blog-section .container p {
		position: inherit;
		width: 100%;
		padding: 0.3rem;
	}
	#blog-section .container .education-1 {
		text-align: center;
		transform: skew(-20deg);
		grid-column: 2/3;
		grid-row: 1/2;
		border:2px solid #c6e4ff;;
	}
	#blog-section .container .education-2 {
		text-align: center;
		transform: skew(-20deg);
		grid-column: 1/2;
		grid-row: 2/3;
		border:2px solid green;
	}
	#blog-section .container .education-3 {
		text-align: center;
		transform: skew(-20deg);
		grid-column: 2/3;
		grid-row: 3/4;
		border:2px solid  #ff5253;
	}
	#blog-section .container .education-4 {
	    display:block;
		text-align: center;
		transform: skew(-20deg);
		grid-column: 1/2;
		grid-row: 4/5;
		border:2px solid  black;
	}
	
	
	
	.circles-line {
		padding-left: 1rem;
		padding-right: 1rem;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: 160px 160px 160px 160px ;
	
		justify-content: center;
		column-gap: 0;
	}
}